@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Chakra+Petch:wght@300&family=REM:wght@300&family=Space+Grotesk&display=swap');

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.header__logo {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
}

.header__navbar--menu {
    list-style: none;
}


.header__navbar--link {
    color: #fb8500;
    background-color: #fefae0;
    border: 1px solid blue;
    padding: 2px 31px;
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;

}

.Form_Button {
    background-color: #fefae0;
    font-family: 'Chakra Petch', sans-serif;
    border: 1px solid blue;
    padding: 2px 7px;
}

.header__logo__name--container {
    margin-left: 5px;
    font-family: 'Borel', cursive;
    font-family: 'REM', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    background: rgb(237, 237, 237);
    background: linear-gradient(90deg, rgb(197, 96, 7) 0%, rgb(227, 102, 6) 28%, rgb(234, 189, 121) 85%, rgb(221, 225, 226) 100%);
    background-size: 100%;
    border: 2px groove  rgb(9, 62, 79);
}

.header__logo--name {
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 0px 9px #e9c46a;
    background-size: 150%;
    border-radius: 2px;
    /* font-family: 'Borel', cursive; */
    /* font-family: 'Bricolage Grotesque', sans-serif; */
    font-family: 'Chakra Petch', sans-serif;
    /* font-family: 'REM', sans-serif; */
    /* font-family: 'Space Grotesk', sans-serif;  */
}

.figure {
    color: rgb(216, 97, 12);
}